@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
}

#loading {
  display: none;
  position: absolute;
  z-index: 99;
  width: 100%;
  height: 100vh;
}
#loading .screen {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7607843137);
  display: flex;
  align-items: center;
  justify-content: center;
}
#loading .screen .loadPad {
  width: 100px;
  height: 100px;
  background-color: #000000;
  border-radius: 10px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes ldsSpinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#loading .screen .loadPad .spinning .ldsSpinner {
  color: #ffffff;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
#loading .screen .loadPad .spinning .ldsSpinner div {
  transform-origin: 40px 40px;
  animation: ldsSpinner 1.2s linear infinite;
}
#loading .screen .loadPad .spinning .ldsSpinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
#loading .screen .loadPad .spinning .ldsSpinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
#loading .screen .loadPad .spinning .ldsSpinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
#loading .screen .loadPad .spinning .ldsSpinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
#loading .screen .loadPad .spinning .ldsSpinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
#loading .screen .loadPad .spinning .ldsSpinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
#loading .screen .loadPad .spinning .ldsSpinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
#loading .screen .loadPad .spinning .ldsSpinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
#loading .screen .loadPad .spinning .ldsSpinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
#loading .screen .loadPad .spinning .ldsSpinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
#loading .screen .loadPad .spinning .ldsSpinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
#loading .screen .loadPad .spinning .ldsSpinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
#loading .screen .loadPad .spinning .ldsSpinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

/*# sourceMappingURL=style-global.css.map */
