#nav {
  width: 100%;
  height: 9vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .account {
    width: 50%;
    height: 3vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .account-text {
      width: 90%;
      font-size: 2vmax;
    }
  }
  .btnContainer{
    display:flex;
    align-items: center;
    flex-direction: row;
    width: 40%;
    justify-content: flex-end;
    gap:1vmax;

    .btn {
      padding:0.25vmax 1vmax;
      width: 15vmax;
      cursor: pointer;
      background-color: #b30000;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      .btn-text {
        text-align: center;
        color: #ffffff;
        font-size: 1.5vmax;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .btnHome{
      padding:0.25vmax 1vmax;
      width: 15vmax;
      cursor: pointer;
      background-color: #fcb5b6;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      .btn-text {
        text-align: center;
        color: black;
        font-size: 1.5vmax;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
#content {
  width: 100%;
  height: 91vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;

  .overlay{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.2s; /* Firefox < 16 */
     -ms-animation: fadein 0.2s; /* Internet Explorer */
      -o-animation: fadein 0.2s; /* Opera < 12.1 */
         animation: fadein 0.2s;
    
    .modalSetting{
        position: absolute;
        left: 10%;
        top: 20%;
        width: 80%;
        height: 60%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        z-index: 3;

        .close{
          border-radius: 50%;
          position: fixed;
          right: 9%;
          top: 19%;
          font-size: 2.5vmax;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #b30000;
          color: white;
          width: 3vmax;
          height: 3vmax;
      }

        .header{
            width: 100%;
            margin-top: 3vh;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 1.7vmax;
            font-weight: bold;
            margin-left: 5%;
        }

        .content{
            margin-top: 3vh;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;
            padding-bottom: 2vmax;

            .table{
              display: flex;
              align-items: center;
              flex-direction:row;
              width: 90%;

              .number-h{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.5vmax;
                background-color: #fcb5b6;
                width: 10%;
                border: 1px solid;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .answer-h{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.5vmax;
                background-color: #fcb5b6;
                width: 90%;
                border: 1px solid;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            .data{
              display: flex;
              align-items: center;
              flex-direction:column;
              width: 100%;

              
            .table{
              display: flex;
              align-items: center;
              flex-direction:row;
              width: 90%;

              .number{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.5vmax;
                width: 10%;
                border: 1px solid;
              }
              .answer{
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.5vmax;
                width: 90%;
                border: 1px solid;
              }
            }
            }
        }
    }
  }

  .pad {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 82vh;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 3px 3px 6px rgba($color: #000000, $alpha: 0.7);
    padding-bottom: 2vmax;
    overflow-y: scroll;

    .back{
      display: none;
      margin-top: 2vmax;
      margin-left: 4.5vmax;
      padding:0.5vmax 1vmax;
      width: fit-content;
      cursor: pointer;
      background-color: #b30000;
      border-radius: 10px;
      width: 10%;
      text-align: center;

      .btn-text {
        color: #ffffff;
        font-size: 1.2vmax;
      }
    }
    .title {
      padding-top: 2%;
      width: 100%;
      .title-text {
        text-align: center;
        font-size: 2vmax;
        font-weight: bold;
      }
    }
    .subtitle {
      padding-top: 0.75%;
      width: 100%;
      .subtitle-text {
        text-align: center;
        font-size: 1.5vmax;
      }
    }
    .search-pad {
        padding-top: 2%;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      .province-dd {
        width: 50%;
          select{
              width: 100%;
              font-size: 1.7vmax;
              text-align: center;
              border-radius: 10px;
          }
      }
      .search-btn {
        width: 19%;
        height: 3vmax;
        cursor: pointer;
        background-color: #ecaff6;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        .search-btn-text {
          color: #ffffff;
          font-size: 1.7vmax;
        }
      }
    }
    .card-pad{
        width: 100%;
        overflow-y: scroll;
        padding-top: 2%;
        height:57vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .tableSection{
      margin: 0 auto;
      width: 90%;
      margin-top: 2vmax;
      display: flex;
      flex-direction: column;
      align-items: center;

      .th-province{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;

        .number-h{
          padding: 0.5vmax 0;
          text-align: center;
          width: 10%;
          font-size: 1.5vmax;
          border: 1px solid;
          background-color: #fcb5b6;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .province-h{
          padding: 0.5vmax 0;
          text-align: center;
          width: 65%;
          font-size: 1.5vmax;
          border: 1px solid;
          background-color: #fcb5b6;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .amount-h{
          padding: 0.5vmax 0;
          text-align: center;
          width: 25%;
          font-size: 1.5vmax;
          border: 1px solid;
          background-color: #fcb5b6;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .td-province{
        width: 100%;

        .td{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: row;
          cursor: pointer;
  
          .number{
            padding: 0.5vmax 0;
            text-align: center;
            width: 10%;
            font-size: 1.5vmax;
            border: 1px solid;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .province{
            padding: 0.5vmax 0;
            text-align: center;
            width: 65%;
            font-size: 1.5vmax;
            border: 1px solid;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .amount{
            padding: 0.5vmax 0;
            text-align: center;
            width: 25%;
            font-size: 1.5vmax;
            border: 1px solid;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .td:hover{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-around;
          flex-direction: row;
          background-color: rgba(0,0,0,0.1);
          cursor: pointer;
  
          .number{
            padding: 0.5vmax 0;
            text-align: center;
            width: 10%;
            font-size: 1.5vmax;
            border: 1px solid;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .province{
            padding: 0.5vmax 0;
            text-align: center;
            width: 65%;
            font-size: 1.5vmax;
            border: 1px solid;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .amount{
            padding: 0.5vmax 0;
            text-align: center;
            width: 25%;
            font-size: 1.5vmax;
            border: 1px solid;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    .answerSection{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 90%;
      margin: 1vmax auto;

      .header{
        width: 100%;
        font-size: 2vmax;
        font-weight: bold;
        text-align: center;
        margin-top: 2vmax;
        margin-bottom: 2vmax;
      }
      .titleAns{
        display: flex;
        align-items: center;
        font-size: 1.7vmax;
        margin-left: 2vmax;
        margin-top: 1vmax;
      }
      .number{
        width: 100%;
        font-size: 1.7vmax;
        display: flex;
        flex-direction: column;
        gap: 0.5vmax;

        .question{
          margin-left: 4vmax;
          font-size: 1.5vmax;
        }
        .answer{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-left: 6vw;
          width: 94%;

          .left{
            font-size: 1.5vmax;
          }
          .right{
            text-align: center;
            padding: 0.5vmax 1vmax;
            width: 15%;
            font-size: 1.5vmax;
            border: 0.2vmax solid;
            border-radius: 1vmax;
            cursor: pointer;
          }
        }
      }
    }
  }
}