#nav {
  width: 100%;
  height: 9vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#nav .account {
  width: 50%;
  height: 3vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#nav .account .account-text {
  width: 90%;
  font-size: 2vmax;
}
#nav .btnContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 40%;
  justify-content: flex-end;
  gap: 1vmax;
}
#nav .btnContainer .btn {
  padding: 0.25vmax 1vmax;
  width: 15vmax;
  cursor: pointer;
  background-color: #b30000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#nav .btnContainer .btn .btn-text {
  text-align: center;
  color: #ffffff;
  font-size: 1.5vmax;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#nav .btnContainer .btnHome {
  padding: 0.25vmax 1vmax;
  width: 15vmax;
  cursor: pointer;
  background-color: #fcb5b6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#nav .btnContainer .btnHome .btn-text {
  text-align: center;
  color: black;
  font-size: 1.5vmax;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#content {
  width: 100%;
  height: 91vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content .overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
  -webkit-animation: fadein 0.2s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 0.2s;
  /* Firefox < 16 */
  -ms-animation: fadein 0.2s;
  /* Internet Explorer */
  -o-animation: fadein 0.2s;
  /* Opera < 12.1 */
  animation: fadein 0.2s;
}
#content .overlay .modalSetting {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 80%;
  height: 60%;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  z-index: 3;
}
#content .overlay .modalSetting .close {
  border-radius: 50%;
  position: fixed;
  right: 9%;
  top: 19%;
  font-size: 2.5vmax;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b30000;
  color: white;
  width: 3vmax;
  height: 3vmax;
}
#content .overlay .modalSetting .header {
  width: 100%;
  margin-top: 3vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.7vmax;
  font-weight: bold;
  margin-left: 5%;
}
#content .overlay .modalSetting .content {
  margin-top: 3vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding-bottom: 2vmax;
}
#content .overlay .modalSetting .content .table {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 90%;
}
#content .overlay .modalSetting .content .table .number-h {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vmax;
  background-color: #fcb5b6;
  width: 10%;
  border: 1px solid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#content .overlay .modalSetting .content .table .answer-h {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vmax;
  background-color: #fcb5b6;
  width: 90%;
  border: 1px solid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#content .overlay .modalSetting .content .data {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#content .overlay .modalSetting .content .data .table {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 90%;
}
#content .overlay .modalSetting .content .data .table .number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vmax;
  width: 10%;
  border: 1px solid;
}
#content .overlay .modalSetting .content .data .table .answer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vmax;
  width: 90%;
  border: 1px solid;
}
#content .pad {
  display: flex;
  flex-direction: column;
  width: 95%;
  height: 82vh;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  padding-bottom: 2vmax;
  overflow-y: scroll;
}
#content .pad .back {
  display: none;
  margin-top: 2vmax;
  margin-left: 4.5vmax;
  padding: 0.5vmax 1vmax;
  width: fit-content;
  cursor: pointer;
  background-color: #b30000;
  border-radius: 10px;
  width: 10%;
  text-align: center;
}
#content .pad .back .btn-text {
  color: #ffffff;
  font-size: 1.2vmax;
}
#content .pad .title {
  padding-top: 2%;
  width: 100%;
}
#content .pad .title .title-text {
  text-align: center;
  font-size: 2vmax;
  font-weight: bold;
}
#content .pad .subtitle {
  padding-top: 0.75%;
  width: 100%;
}
#content .pad .subtitle .subtitle-text {
  text-align: center;
  font-size: 1.5vmax;
}
#content .pad .search-pad {
  padding-top: 2%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#content .pad .search-pad .province-dd {
  width: 50%;
}
#content .pad .search-pad .province-dd select {
  width: 100%;
  font-size: 1.7vmax;
  text-align: center;
  border-radius: 10px;
}
#content .pad .search-pad .search-btn {
  width: 19%;
  height: 3vmax;
  cursor: pointer;
  background-color: #ecaff6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#content .pad .search-pad .search-btn .search-btn-text {
  color: #ffffff;
  font-size: 1.7vmax;
}
#content .pad .card-pad {
  width: 100%;
  overflow-y: scroll;
  padding-top: 2%;
  height: 57vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content .pad .tableSection {
  margin: 0 auto;
  width: 90%;
  margin-top: 2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content .pad .tableSection .th-province {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
#content .pad .tableSection .th-province .number-h {
  padding: 0.5vmax 0;
  text-align: center;
  width: 10%;
  font-size: 1.5vmax;
  border: 1px solid;
  background-color: #fcb5b6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#content .pad .tableSection .th-province .province-h {
  padding: 0.5vmax 0;
  text-align: center;
  width: 65%;
  font-size: 1.5vmax;
  border: 1px solid;
  background-color: #fcb5b6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#content .pad .tableSection .th-province .amount-h {
  padding: 0.5vmax 0;
  text-align: center;
  width: 25%;
  font-size: 1.5vmax;
  border: 1px solid;
  background-color: #fcb5b6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#content .pad .tableSection .td-province {
  width: 100%;
}
#content .pad .tableSection .td-province .td {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  cursor: pointer;
}
#content .pad .tableSection .td-province .td .number {
  padding: 0.5vmax 0;
  text-align: center;
  width: 10%;
  font-size: 1.5vmax;
  border: 1px solid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#content .pad .tableSection .td-province .td .province {
  padding: 0.5vmax 0;
  text-align: center;
  width: 65%;
  font-size: 1.5vmax;
  border: 1px solid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#content .pad .tableSection .td-province .td .amount {
  padding: 0.5vmax 0;
  text-align: center;
  width: 25%;
  font-size: 1.5vmax;
  border: 1px solid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#content .pad .tableSection .td-province .td:hover {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
#content .pad .tableSection .td-province .td:hover .number {
  padding: 0.5vmax 0;
  text-align: center;
  width: 10%;
  font-size: 1.5vmax;
  border: 1px solid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#content .pad .tableSection .td-province .td:hover .province {
  padding: 0.5vmax 0;
  text-align: center;
  width: 65%;
  font-size: 1.5vmax;
  border: 1px solid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#content .pad .tableSection .td-province .td:hover .amount {
  padding: 0.5vmax 0;
  text-align: center;
  width: 25%;
  font-size: 1.5vmax;
  border: 1px solid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#content .pad .answerSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 1vmax auto;
}
#content .pad .answerSection .header {
  width: 100%;
  font-size: 2vmax;
  font-weight: bold;
  text-align: center;
  margin-top: 2vmax;
  margin-bottom: 2vmax;
}
#content .pad .answerSection .titleAns {
  display: flex;
  align-items: center;
  font-size: 1.7vmax;
  margin-left: 2vmax;
  margin-top: 1vmax;
}
#content .pad .answerSection .number {
  width: 100%;
  font-size: 1.7vmax;
  display: flex;
  flex-direction: column;
  gap: 0.5vmax;
}
#content .pad .answerSection .number .question {
  margin-left: 4vmax;
  font-size: 1.5vmax;
}
#content .pad .answerSection .number .answer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 6vw;
  width: 94%;
}
#content .pad .answerSection .number .answer .left {
  font-size: 1.5vmax;
}
#content .pad .answerSection .number .answer .right {
  text-align: center;
  padding: 0.5vmax 1vmax;
  width: 15%;
  font-size: 1.5vmax;
  border: 0.2vmax solid;
  border-radius: 1vmax;
  cursor: pointer;
}

/*# sourceMappingURL=style-index.css.map */
