body {
  background-color: #A91F67;
}
body #content {
  width: 100%;
  display: flex;
  background-image: linear-gradient(to bottom, #ffffff 20%, #A91F67 100%);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #content .container-login {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin-top: 2vh;
}
body #content .container-login .login-btn {
  font-size: 2vmax;
  margin-top: 1vh;
  margin-right: 2.5vw;
  background-color: #d3d0d0;
  padding: 0.5vh 3vw;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  color: black;
  border-radius: 10px;
  cursor: pointer;
}
body #content .container-state {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: 3vh;
  margin-bottom: 5vh;
}
body #content .container-state .next-btn {
  width: 10vmax;
  font-size: 2vmax;
  background-color: #192a53;
  padding: 0.5vh 1vw;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
body #content .container-state .prev-btn {
  width: 10vmax;
  font-size: 2vmax;
  background-color: #192a53;
  padding: 0.5vh 1vw;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
body #content .container-state .confirm-btn {
  width: 10vmax;
  font-size: 2vmax;
  background-color: #006a4e;
  padding: 0.5vh 1vw;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
body #content .logo {
  padding-top: 0.5vmax;
  width: 100%;
  text-align: center;
}
body #content .logo img {
  width: 15vmax;
}
body #content .title {
  margin-top: 0.5vmax;
  width: 100%;
  text-align: center;
  font-size: 2vmax;
  color: #A91F67;
}
body #content .sub-title {
  width: 100%;
  text-align: center;
  font-size: 2vmax;
  color: #A91F67;
}
body #content .sec-title {
  padding-top: 2vmax;
  padding-bottom: 2vmax;
  width: 100%;
  text-align: center;
  font-size: 2vmax;
  color: #A91F67;
}
body #content .container-state-1 {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  margin-top: 3vh;
  margin-bottom: 5vh;
}
body #content .container-state-1 .next-btn {
  width: 10vmax;
  font-size: 2vmax;
  background-color: #192a53;
  padding: 0.5vh 1vw;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
body #content .container-state-1 .prev-btn {
  width: 10vmax;
  font-size: 2vmax;
  background-color: #192a53;
  padding: 0.5vh 1vw;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
body #content .container-state-1 .confirm-btn {
  width: 10vmax;
  font-size: 2vmax;
  background-color: #006a4e;
  padding: 0.5vh 1vw;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
body #content .section {
  display: none;
  margin-top: 2vh;
  width: 80%;
  background-color: white;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 5vh 5vw;
}
body #content .section .header {
  width: 100%;
  text-align: center;
  font-size: 2vmax;
  color: black;
  margin-bottom: 4vmax;
  font-weight: bold;
}
body #content .section .explain {
  text-indent: 5vmax;
  font-size: 2vmax;
  color: black;
}
body #content .section .form {
  margin: 2vmax auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
body #content .section .form .question {
  width: 100%;
  font-size: 2vmax;
  margin-bottom: 1vmax;
}
body #content .section .form .answer {
  display: flex;
  flex-direction: column;
  gap: 0.5vmax;
  margin-left: 3vw;
}
body #content .section .form .answer p {
  font-size: 2vmax;
  color: black;
}
body #content .section .form .answer select {
  width: 100%;
  padding: 0.25vmax 1vmax;
  border-radius: 5px;
  font-size: 2vmax;
  text-align: center;
}
body #content .section .form .answer .radio-box {
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
  gap: 0.5vmax;
}
body #content .section .form .answer .radio-box .segment {
  display: flex;
  flex-direction: row;
  font-size: 2vmax;
  align-items: center;
  gap: 2vmax;
}
body #content .section .form .answer .radio-box .segment .left {
  width: 20%;
}
body #content .section .form .answer .radio-box .segment .textInp {
  padding: 0vmax 1vmax;
  width: 50%;
  border-radius: 5px;
  font-size: 2vmax;
  border: 1px solid gray;
  display: none;
}
body #content .section .form .answer .radio-box .segment .textInp-1 {
  padding: 0vmax 1vmax;
  width: 50%;
  border-radius: 5px;
  font-size: 2vmax;
  border: 1px solid gray;
}
body #content .section .form .answer .radio-box textarea {
  margin-top: 0.5vmax;
  padding: 0vmax 1vmax;
  width: 80%;
  height: 10vh;
  border-radius: 5px;
  font-size: 2vmax;
}
body #content .section .form .answer .textarea-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body #content .section .form .answer .textarea-box .textarea7 {
  margin-top: 0.5vmax;
  padding: 0vmax 1vmax;
  width: 90%;
  height: 10vh;
  border-radius: 5px;
  font-size: 2vmax;
}

/*# sourceMappingURL=style-index.css.map */
