.content-login {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
}
.content-login .loginBox {
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35vmax;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  padding: 3vmax;
  border-radius: 5px;
  background-color: white;
}
.content-login .loginBox .loginTitle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3vmax;
}
.content-login .loginBox .inputArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-login .loginBox .inputArea .inputTitle {
  width: 100%;
  text-align: left;
  font-size: 1.5vmax;
}
.content-login .loginBox .inputArea input {
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0.3vmax;
  padding-left: 2vmax;
  margin-bottom: 1vmax;
  font-size: 1.5vmax;
}
.content-login .loginBox .errMsg {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
  font-size: 1.5vmax;
  height: 2vmax;
}
.content-login .loginBox .buttonArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1vmax;
}
.content-login .loginBox .buttonArea .button {
  width: 100%;
  border-radius: 5px;
  font-size: 1.5vmax;
  padding: 1vmax;
  background-color: #fcb5b6;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.background-login .area {
  background: #f4f4f8;
  background: -webkit-linear-gradient(to left, #f4f4f8, #f4f4f8);
  width: 100%;
  height: 100vh;
}
.background-login .area .circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.background-login .area .circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(252, 184, 185, 0.7);
  animation: animate 25s linear infinite;
  bottom: -150px;
}
.background-login .area .circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}
.background-login .area .circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}
.background-login .area .circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}
.background-login .area .circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.background-login .area .circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.background-login .area .circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.background-login .area .circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.background-login .area .circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.background-login .area .circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.background-login .area .circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .content-login {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
  }
  .content-login .loginBox {
    margin: auto auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    padding: 5vh 5vw;
    border-radius: 5px;
    background-color: white;
  }
  .content-login .loginBox .loginTitle {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5vw;
  }
  .content-login .loginBox .inputArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content-login .loginBox .inputArea .inputTitle {
    width: 100%;
    text-align: left;
    font-size: 3vw;
  }
  .content-login .loginBox .inputArea input {
    width: 100%;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 0.3vmax;
    padding-left: 2vmax;
    margin-bottom: 1vmax;
    font-size: 3vw;
  }
  .content-login .loginBox .errMsg {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
    font-size: 2vw;
    height: 2vmax;
  }
  .content-login .loginBox .buttonArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1vmax;
  }
  .content-login .loginBox .buttonArea .button {
    width: 100%;
    border-radius: 5px;
    font-size: 3vw;
    padding: 1vmax;
    background-color: #fcb5b6;
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
  }

  .background-login .area {
    background: #f4f4f8;
    background: -webkit-linear-gradient(to left, #f4f4f8, #f4f4f8);
    width: 100%;
    height: 100vh;
  }
  .background-login .area .circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .background-login .area .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(252, 184, 185, 0.7);
    animation: animate 25s linear infinite;
    bottom: -150px;
  }
  .background-login .area .circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
  }
  .background-login .area .circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
  }
  .background-login .area .circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
  }
  .background-login .area .circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
  }
  .background-login .area .circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }
  .background-login .area .circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
  }
  .background-login .area .circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
  }
  .background-login .area .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  .background-login .area .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  .background-login .area .circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
  }
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }
    100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
    }
  }
}

/*# sourceMappingURL=style-signin.css.map */
