#nav {
  width: 100%;
  height: 9vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#nav .account {
  width: 50%;
  height: 3vmax;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#nav .account .account-text {
  width: 100%;
  font-size: 2vmax;
}
#nav .btnContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 40%;
  justify-content: flex-end;
  gap: 1vmax;
}
#nav .btnContainer .btn {
  padding: 0.25vmax 1vmax;
  width: 15vmax;
  cursor: pointer;
  background-color: #b30000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#nav .btnContainer .btn .btn-text {
  text-align: center;
  color: #ffffff;
  font-size: 1.5vmax;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#nav .btnContainer .btnHome {
  padding: 0.25vmax 1vmax;
  width: 15vmax;
  cursor: pointer;
  background-color: #fcb5b6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#nav .btnContainer .btnHome .btn-text {
  text-align: center;
  color: #000000;
  font-size: 1.5vmax;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#content {
  width: 100%;
  height: 91vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content .pad {
  width: 95%;
  height: 95%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#content .pad .container-pad {
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1vmax;
}
#content .pad .container-pad .title {
  font-size: 2vmax;
  color: black;
  margin-bottom: 1vmax;
}
#content .pad .container-pad input {
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0.3vmax;
  padding-left: 2vmax;
  margin-bottom: 1vmax;
  font-size: 1.7vmax;
}
#content .pad .container-pad small {
  width: 100%;
  text-align: left;
  font-size: 1vmax;
}
#content .pad .container-pad .errMsg {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: red;
  font-size: 1.7vmax;
  height: 2vmax;
}
#content .pad .container-pad .buttonArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content .pad .container-pad .buttonArea .button {
  text-align: center;
  width: 100%;
  border-radius: 5px;
  font-size: 1.7vmax;
  padding: 1vmax;
  background-color: #fcb5b6;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

/*# sourceMappingURL=style-index.css.map */
